/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

   /* =============================================================================
      My CSS
      ========================================================================== */

   /* ---- particles.js container ---- */

   body {
    background-color: #1666a8;
    color: white;
   }

   a {
      color: #E6F4F1;
   }

   a:hover {
      color: #EEE8A9;
   }

   a.btn {
      color: white !important;
      border-color: white;
   }

   h5.talk-title {
      color: #DCA11D;
   }

   canvas {
    position: fixed;
    top: 0;
    height: 0%;
    z-index: -1;
   }

    #particles-js {
        position: absolute;
        background-color: #2987d4;
        background-image: url("");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }